
.bg-image{
  background-image: url("../study.jpg"); /* The image used */
  /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: 90% 0%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 80%;
  background-attachment :scroll;
}

.menu{
margin-left: 20%;
width: 75%;
float: right;

}